.intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin: 5% 0;
}

.leading {
  font-family: 'Open Sans Light', sans-serif;
  color: #AFAFAF;
  font-weight: 300;
  font-size: 1.25em;
  /* text-transform: uppercase */
  letter-spacing: 0.1em;
}

.intro-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-title {
  font-family: 'Inconsolata', monospace;
}

.paragraph {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  color: #000;
  font-weight: 300;
}

.title-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.08em;
}

.footer-text {
  font-family: 'Inconsolata', monospace;
}